*{
    font-family: "Montserrat", sans-serif;
}
.compra-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    flex-direction: row;
}
.course-details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.course-details h2{
    margin-bottom: 5%;
    font-size: 40px;
}
.course-details p{
    background-color: #F4E9FF;
    margin-bottom: 5%;
    padding: 15px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 600;
}
.payment-options{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.payment-options .mp{
    margin-top: 5%;
    background-color: #239CDC;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}
.payment-options .pp{
    margin-top: 5%;
    background-color: #233FDC;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}
.mp:hover{
    background-color: #0376B3;
}
.pp:hover{
    background-color: #4F64DD;
}
.cursoImg{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 350px;
    height: 350px;
}
.cursoCont1{
    display: flex;
    flex-direction: column;
}

/*FOOTER */

footer{
    width: 100%;
    height: 40vh
    ;background: linear-gradient(0deg, #3B035F 0%, #092C64 100%);
}
.footerImg{
    margin-top: 2%;
}
.footerCont{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: row;
}
.footerCont h3{
    color: #fff;
    margin-bottom: 10%;
}
.footerCont a{
    color: #fff;
    padding: 6px;
    text-decoration: none;
}
.footerLinks{
    margin-top: 4%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footerRedes{
    margin-top: 4%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footerContacto{
    margin-top: 4%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 768px) {

    .compra-container{
        flex-direction: column;
    }


footer{
    width: 100%;
    height: 125vh;
    background: linear-gradient(0deg, #3B035F 0%, #092C64 100%);
}
.footerCont{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footerImg{
    margin-top: 20%;
}
.footerLinks{
    margin-top: 10%;
}
.footerRedes{
    margin-top: 10%;
}
.footerContacto{
    margin-top: 10%;
}

}