.bgCont1{
    width: 100%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
form{
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
form .inputCont{
    width: 100%;
}
.inputCont{
    width: 100%;
    padding: 2%;
}
.subCont1{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.inputCont input{
    width: 100%;
    padding: 15px 45px 15px 45px;
    font-style: italic;
    border-radius: 10px;
    border: 1px solid #000;
}
.inputCont2{
    width: 100%;
    padding: 2%;
}
.inputCont2 input{
    width: 100%;
    padding: 15px 45px 15px 45px;
    font-style: italic;
    border-radius: 10px;
    border: 1px solid #000;
}
.inputSubCont2{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.inputSubCont1{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.subCont2{
    margin-top: -5%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #E1EDFF;
    padding-bottom: 5%;
}
.bgSubCont1{
    margin-top: 15%;
    margin-bottom: 15%;
}
.bgSubCont1 h4{
    font-size: 30px;
}
.imagenCursoCompra{
    width: 450px;
    height: 350px;
}
.bgSubCont2{
    display: none;
}
.bgSubCont2Web{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90%;
    font-size: 26px;
    margin-top: 2%;
    margin-bottom: 5%;
    flex-direction: row;
}
.cursosComboCompra{
    width: 500px;
}
.arsBtn{
    padding: 10px 25px 10px 25px;
    background-color: #602B83;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-size: 22px;
}
footer{
    width: 100%;
    height: 40vh;background: linear-gradient(0deg, #3B035F 0%, #092C64 100%);
}
.footerImg{
    margin-top: 2%;
}
.footerCont{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: row;
}
.footerCont h3{
    color: #fff;
    margin-bottom: 10%;
}
.footerCont a{
    color: #fff;
    padding: 6px;
}
.footerLinks{
    margin-top: 4%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footerRedes{
    margin-top: 4%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footerContacto{
    margin-top: 4%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 991px) {
    .cursosComboCompra{
        width: 400px;
    }
}

@media (max-width: 768px){
.bgCont1{
    width: 100%;
    margin-top: 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.imagenCursoCompra{
    width: 300px;
    height: 250px;
}
.cursosComboCompra{
    width: 90%;
}
form{
    width: 80%;
}
form .inputCont{
    width: 100%;
}
.inputCont{
    padding: 5%;
}
.inputCont input{
    padding: 15px 45px 15px 45px;
    font-style: italic;
    border-radius: 10px;
    border: 1px solid #000;
}
form .inputCont2{
    width: 100%;
}
.inputCont2{
    padding: 5%;
}
.inputCont2 input{
    padding: 15px 45px 15px 45px;
    font-style: italic;
    border-radius: 10px;
    border: 1px solid #000;
}

.subCont1{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.subCont2{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.bgSubCont1{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.bgSubCont1 h4{
    margin-top: 5%;
    margin-bottom: 5%;
}
.bgSubCont2{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.bgSubCont2 h4{
    margin-bottom: 5%;
}
.bgSubCont2 p{
    margin-top: 5%;
    font-size: 30px;
    font-weight: 600;
}
.bgSubCont2 button{
    margin-top: 5%;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    background-color: #602B83;
    color: #fff;

}
.bgSubCont2Web{
    display: none;
}
.arsBtn{
    display: none;
}
.arsImg img{
    visibility: hidden;
}
.inputSubCont2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputSubCont1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    margin-top: 25%;
    width: 100%;
    height: 125vh;
    background: linear-gradient(0deg, #3B035F 0%, #092C64 100%);
}
.footerCont{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footerImg{
    margin-top: 20%;
}
.footerLinks{
    margin-top: 10%;
}
.footerRedes{
    margin-top: 10%;
}
.footerContacto{
    margin-top: 10%;
}
}
