*{
    font-family: "Montserrat", sans-serif;
}
.saludoEscritorio{
    margin-left: 2%;
}
.bgBtnCont{
    position: relative;
    margin-bottom: 2%;
}
.bgBtnCont button{
    background-color: #743C99;
    color: #fff;
    padding: 15px 15px 15px 35px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 25px;
    margin-top: 15%;
}
.bgBtnCont img{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 4%;
    top: 52%;
}
.bgBtnCont a{
    color: #fff;
}
.bgEscritorio{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.escritorioButtons{
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 15%;
    height: 70vh;
    background-color: #D9D9D9;
    border-radius: 0px 20px 20px 0px;
}
.escritorioButtons button{
    width: 80%;
    height: 60px;
    margin-top: 4%;
    margin-bottom: 5%;
    border-radius: 20px;
    background-color: #743C99;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}
.escritorioButtons a{
    color: #fff;
}
.escritorioData{
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 8%;
    margin-right: 10%;
    width: 65%;
    height: 60vh;
    background-color: #D9D9D9;
    border-radius: 20px;
}

.data1{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 20%;
    height: 15vh;
    background-color: #092C64;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
}
.data1 img{
    position: absolute;
    top: 20%;
}
.data1 p{
    margin-top: 30%;
    margin-left: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
}
.data2{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 20%;
    height: 15vh;
    background-color: #092C64;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
}
.data2 img{
    position: absolute;
    top: 20%;
}
.data2 p{
    margin-top: 30%;
    margin-left: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
}
.data3{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 20%;
    height: 15vh;
    background-color: #092C64;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
}
.data3 img{
    position: absolute;
    top: 20%;
}
.data3 p{
    margin-top: 30%;
    margin-left: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
}
footer{
    margin-top: 5%;
    width: 100%;
    height: 40vh;background: linear-gradient(0deg, #3B035F 0%, #092C64 100%);
}
.footerImg{
    margin-top: 2%;
}
.footerCont{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: row;
}
.footerCont h3{
    color: #fff;
    margin-bottom: 10%;
}
.footerCont a{
    color: #fff;
    padding: 6px;
}
.footerLinks{
    margin-top: 4%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footerRedes{
    margin-top: 4%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footerContacto{
    margin-top: 4%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*ESTILOS DEL BUTTON RESPONSIVO*/
#btn-menu{
    display: none;
}
.btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.6);
    width: 100%;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 250;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    margin-top: 85px;
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
.navCont p{
    display: flex;
}

@media screen and (max-width:991px) {
    /*Menù lateral*/
    .escritorioButtons{
        display: none;
    }
    .bgEscritorio{
        width: 100%;
    }
    .escritorioData{
        margin: auto;
    }
    .btn-menu{
        display: flex;
        font-size: 35px;
        margin-left: 5%;
    }
    .navCont p{
        display: none;
    }
    .cont-menu{
        z-index: 300;
        background-color: #c7c7c7;
    }
    .cont-menu p{
        padding-top: 15%;
        padding-bottom: 5%;
        text-align: center;
        color: #000;
        font-weight: 700;
        font-size: 25px;
    }
    .cont-menu img{
        width: 100%;
    }
    .ul1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
        padding-top: 5%;
    }
    .ul1 li{
        margin-bottom: 5%;
        width: 95%;
        text-align: center;
        background-color: #3B035F;
        padding: 15px 0px;
        border-radius: 20px;
    }
    .ul1 li a{
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        color: #fff;
        font-weight: 600;
    }
    .data1 img{
        top: 15%;
    }
    .data2 img{
        top: 15%;
    }
    .data3 img{
        top: 15%;
    }


}

@media (max-width: 768px) {

.escritorioData{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    margin: auto;
    width: 75%;
    height: 80vh;
    border: 2px solid #000;
    border-radius: 20px;
}
.data1{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 50%;
    height: 20vh;
    background-color: #092C64;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
}
.data1 img{
    position: absolute;
    top: 15%;
}
.data1 p{
    margin-top: 40%;
    margin-left: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
}
.data2{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 50%;
    height: 20vh;
    background-color: #092C64;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
}
.data2 img{
    position: absolute;
    top: 15%;
}
.data2 p{
    margin-top: 40%;
    margin-left: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
}
.data3{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 50%;
    height: 20vh;
    background-color: #092C64;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
}
.data3 img{
    position: absolute;
    top: 15%;
}
.data3 p{
    margin-top: 40%;
    margin-left: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
}
footer{
    margin-top: 25%;
    width: 100%;
    height: 125vh;
    background: linear-gradient(0deg, #3B035F 0%, #092C64 100%);
}
.footerCont{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footerImg{
    margin-top: 15%;
}
.footerLinks{
    margin-top: 10%;
}
.footerRedes{
    margin-top: 10%;
}
.footerContacto{
    margin-top: 10%;
}
}