*{
    font-family: "Montserrat", sans-serif;
}
.verCursoSection{
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.verCursoSubCont1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    padding-bottom: 2%;
    border-radius: 20px;
    background-color: #D9D9D9;
}
.verCursoSubCont1 h2{
    margin-top: 5%;
    text-align: center;
}
.verCursoSubCont1 h3{
    margin-top: 5%;
    text-align: center;
    font-size: 24px;
}
.verCursoSubCont1 li a{
    font-size: 20px;
}
.form1{
    width: 80%;
    margin-top: 5%;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.form1 label{
    font-weight: 700;
    font-size: 22px;
}
.form1 select{
    color: #fff;
    background-color: #743C99;
    padding: 5px;
    font-size: 22px;
    border-radius: 10px;
}
.formCont1{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    margin-top: 5%;
}
.formCont1 label{
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    padding: 15px 0px;
}
.verCursoSubCont2{
    width: 79%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #D9D9D9;
    border-radius: 20px;
    margin-left: 1%;
}
.verCursoSubCont2 p{
    margin-top: 5px;
    font-size: 22px;    
}
.verCursoSubCont2 h3{
    font-size: 30px;
}
.verCursoSubCont2 h4{
    margin-top: 5px;
    font-size: 25px;
}
.subContVid{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 5%;
}
.descripcionItem{
    font-size: 700;
}
.cursoItem{
    background-color: #743C99;
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 2%;
}
.cursoItem:hover{
    background-color: #34114B;
}
.descripcionItem{
    font-weight: 700;
}
.cursoItem a{
    color: #fff;
}
#part_number{
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 20px;
    background-color: #743C99;
    color: #fff;
    font-weight: 700;
    padding: 15px 0px;
    margin-bottom: 5%;
}
#part_number::placeholder{
    color: #fff;
}
#inp_submit{
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    background-color: #743C99;
    color: #fff;
    font-weight: 700;
    padding: 15px 0px;
    margin-bottom: 5%;
    cursor: pointer;
}
.cursoP{
    font-weight: 700;
}
.courseVid{
    border-radius: 20px;
    margin-top: 5%;
    width: 720px;
    height: 480px;
}

@media screen and (max-width:991px) {
    .verCursoSection{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .verCursoSubCont1{
        width: 100%;
        padding-bottom: 2%;
    }
    .verCursoSubCont2{
        margin-top: 1%;
        width: 100%;
    }
    .courseVid{
        margin-top: 5%;
    }
}
@media screen and (max-width: 767px) {
    .courseVid{
        width: 480px;
        height: 320px;
    }
}
@media screen and (max-width: 480px) {
    .courseVid{
        width: 350px;
        height: 220px;
    }
}